<app-auth-template [linkSpan]="'/login'" [nameSpan]="'¿Ya tienes una cuenta?, inicia sesión'">
  <form formAuth class=" d-flex flex-column align-items-start full-screen" [formGroup]="registerForm" (submit)="submitRegister()">

    <!-- Nombre completo -->
    <mat-form-field appearance="fill">
      <mat-label>Ingrese su nombre completo</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="registerForm.get('name').invalid">{{getErrorNameMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese su E-mail</mat-label>
      <input matInput placeholder="example@example.com" formControlName="email" required>
      <mat-error *ngIf="registerForm.get('email').invalid">{{getErrorEmailMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese su número de teléfono</mat-label>
      <input matInput formControlName="telefono" required>
      <mat-error *ngIf="registerForm.get('telefono').invalid">{{getErrorTelefonoMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese su contraseña</mat-label>
      <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'">
      <mat-error *ngIf="registerForm.get('password').invalid">{{getErrorPasswordMessage()}}</mat-error>
      <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
        <mat-icon >{{showPassword ? 'visibility ' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="my-4 d-inline-flex justify-content-between flex-sm-row flex-column-reverse">
      <!-- <label style="text-decoration: underline; cursor: pointer;">Olvidé mi contraseña</label> -->
      <button mat-flat-button color="primary" type="submit">Registrarse</button>
    </div>
  </form>
<!-- --------------------------------- -->
  <div class="container">
    <h1 class="sarabunB">Creación de cuenta</h1>
    <h3 class="sarabunM">¿Ya tienes una cuenta?, <strong class="cursor-pointer" routerLink="/login" [skipLocationChange]="true" style="text-decoration: underline;">inicia sesión</strong></h3>
    <!-- <div class="mt-5">
      <button type="button" class="buttonLR sarabunB" routerLink="/login" [skipLocationChange]="true">Iniciar sesión.</button>
    </div> -->
  </div>
</app-auth-template>
