<div class="container-fluid content-center bg-primary-per full-screen fContainer">
  <div class="container-fluid mx-5 containerAll" [class]="breakpoint()<576?'full-screen':''">
    <div class="row" [class]="breakpoint() <992?'boxshadow-none':''">
      <div class="col-xl-6 col-lg-6 bg-white column" [class]="breakpoint()<576?'content-center':''">
        <div class="container">
          <!-- <div *ngIf="breakpoint() <992" class="text-center mb-2 cursor-pointer" routerLink="/"><img src="/assets/logo.svg" alt="Logo" class="imgCardSmall"></div> -->
          <h1 class="dancingB text-color-primary text-center">{{nameApp}}</h1>
          <ng-content select="[formAuth]"></ng-content>
          <div class="mt-2 mt-sm-4 text-center">
            <h4 class="sarabunB">Ingresar o registrarse con:</h4>
            <div class="my-3 d-grid">
              <button type="button" (click)="loginWithGoogle()" class="btn my-3 btn-google sarabunM btnSocial">Google</button>
              <button type="button" (click)="loginWithFacebook()" class="btn btn-facebook sarabunM btnSocial">Facebook</button>
            </div>
          </div>
        </div>
        <span class="sarabunB hidden-lg-up" [routerLink]="linkSpan" [skipLocationChange]="true">{{nameSpan}}</span>
      </div>
      <div class="col-xl-5 col-lg-5 bg-primary-per column content-center ms-3" *ngIf="breakpoint() >992">
       <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

